* {
	margin: 0px;
	padding: 0px;
}

html,
body,
#root {
	height: 100%;
	width: 100%;
	font-family: "Maven Pro";
	box-sizing: border-box;
	padding: 40px;
	background: url("./assets/Background.jpg") no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}

::-webkit-scrollbar {
	display: none;
}
